.header{ padding:1em; border:1px #000 solid; clear:both; width:700px;}

body{width:700px; }

/* font-size:1.15em;} */

.head-section{width:130px; float:left; margin-left:.5em; font-size:1em;}


.logo {text-align:center}   

.hotspot {
	color: #006600;
	font-weight:bold;
		cursor: se-resize;
	height:2.5em;
	clear:both;
	font-family:Arial, Helvetica, sans-serif; 
}

.clear{clear:both; font-size:.1em}

a.oomph{
        padding-right: 12px;
        background: url("figures/link.gif");
        background-repeat: no-repeat;
        background-position: center right;
}

a, a:visited{
	color: darkblue;  text-decoration: none;
}


a:hover {
	color: #dd0000;
}

/* ====================================================== */
/* SUBITEMS IN MENUS
/* ====================================================== */
.header dd {margin-left:.8em; font-size:.8em; margin-bottom:.6em; line-height: 01.0em; font-weight: 400; font-family:sans-serif;  }



/* ====================================================== */
/* MAIN ITEMS IN MENUS
/* ====================================================== */
.header dt {font-size:.9em; margin-bottom:.5em; font-weight: 700; }

#nav a {
	text-decoration: none;
}



form{margin: 1em 2em 2em 2em;}
	
label{display:block;margin-top:1em; font-weight:bold}
	
